* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --n-big-margin: 2rem;
  --n-big-margin-vertical: 2rem;
  --n-big-margin-horizontal: 2rem;
  --n-big-padding: 2rem;
  --n-big-padding-vertical: 2rem;
  --n-big-padding-horizontal: 2rem;
  --n-small-margin: 1rem;
  --n-small-margin-vertical: 1rem;
  --n-small-margin-horizontal: 1rem;
  --n-small-padding: 1rem;
  --n-small-padding-vertical: 1rem;
  --n-small-padding-horizontal: 1rem;
  --n-border-width: 1px;
  --n-border-color: #AAAAAA;
  --n-border-radius: 5px;
  --n-normal-color: #039BE5;
  --n-disabled-color: #9E9E9E;
  --n-success-color: #4CAF50;
  --n-danger-color: #F44336;
  --n-normal-dark-color: #0277BD;
  --n-disabled-dark-color: #424242;
  --n-success-dark-color: #2E7D32;
  --n-danger-dark-color: #C62828;
  --n-primary-brand-color: #00796B;
  --n-root-font-size: 1.1rem;
}

html {
  font-size: var(--n-root-font-size);
  line-height: 1.6;
}

/* Grid-Grid CSS */
.n-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Flexi-Grid CSS */
.n-sflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--n-small-padding);
}

.n-flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.n-flex-apart {
  align-items: center;
  justify-content: space-between;
}

.n-flex-close {
  justify-content: start;
  align-items: center;
}

.n-flex-al-start {
  align-items: start;
}

.n-flex-al-stretch {
  align-items: stretch;
}

.n-flex-al-center {
  align-items: center;
}

.n-flex-al-end {
  align-items: end;
}

.n-flex > * {
  width: 100%;
}

.n-flex-aw-1234a > *,
.n-flex-aw-112a > *,
.n-flex-aw-22334a > * {
  flex: 1 0 auto;
}

.wrapper {
  width: 95%;
  margin: 1rem auto;
}

div.n-flex > div.n-wrapper {
  padding: calc(var(--n-small-padding) / 2);
}

.n-w-1-6 {
  width: 16.6666667%;
}

.n-w-1-3 {
  width: 33.33333333%;
}

.n-w-2-3 {
  width: 66.666666667%;
}

.n-fit-content {
  width: -moz-fit-content;
  width: fit-content;
}

/* Table CSS */
table {
  border: var(--n-border-width) solid var(--n-primary-brand-color);
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin: var(--n-big-margin-vertical) 0;
}

th,
td {
  border: var(--n-border-width) solid var(--n-primary-brand-color);
  padding: calc(var(--n-small-padding) / 2);
}

th {
  text-transform: uppercase;
  background: var(--n-primary-brand-color);
  color: white;
}

th:not(:first-child),
th:not(:last-child) {
  border-left: var(--n-border-width) solid white;
  border-right: var(--n-border-width) solid white;
}

th:first-child {
  border-left: none;
}

th:last-child {
  border-right: none;
}

table.n-colored-th th {
  background: white;
  border-color: var(--n-primary-brand-color);
  color: var(--n-primary-brand-color);
}

table.n-striped tr:nth-child(2n+1) {
  background: #eee;
}

table.n-hover-row tr:hover {
  background: #ddd;
}

table.n-column-borders {
  border: none;
}
table.n-column-borders td,
table.n-column-borders th {
  border: none;
  border-left: 2px solid var(--n-primary-brand-color);
  border-right: 2px solid var(--n-primary-brand-color);
}
table.n-column-borders th {
  border-bottom: 2px solid var(--n-primary-brand-color);
}

table.n-row-borders {
  border: none;
}
table.n-row-borders td,
table.n-row-borders th {
  border: none;
  border-bottom: 2px solid var(--n-primary-brand-color);
}

/* Text Alignment */
.talign-center {
  text-align: center;
}

.talign-start {
  text-align: start;
}

.talign-end {
  text-align: end;
}

/* Common Elemental CSS */
h1,
h2 {
  margin: var(--n-big-margin) 0;
}

h3,
h4 {
  margin: var(--n-small-margin) 0;
}

h5,
h6,
p {
  margin: calc(var(--n-small-margin) / 2) 0;
}

ol,
ul {
  padding-left: var(--n-big-padding);
  margin: var(--n-big-margin) 0;
}

code {
  background: #E0E0E0;
  display: inline-block;
  padding: 0 0.2rem;
}

/* Card CSS */
.n-card {
  display: flex;
  flex-direction: column;
}

.n-card:not(.polaroid, .n-card-horizontal) {
  border: 1px solid var(--n-border-color);
}

.n-flex-al-stretch .n-card {
  height: 100%;
}

.n-card-horizontal {
  height: 100%;
  align-items: center;
}
.n-card-horizontal img {
  height: -moz-fit-content;
  height: fit-content;
}
.n-card-horizontal .n-card-body {
  padding: 0 calc(var(--n-small-padding) / 2);
}

.n-card-body {
  padding: var(--n-small-padding) calc(var(--n-small-padding) / 2);
}

/* Figure and Image CSS */
.n-flex figure {
  width: -moz-fit-content;
  width: fit-content;
}

.polaroid {
  box-shadow: 0 0 2px #ccc, 0 0 6px #eee;
  padding: var(--n-small-padding);
}

.borderoid {
  border: var(--n-border-width) solid var(--n-border-color);
  padding: calc(var(--n-small-padding) / 2);
}

figure figcaption {
  color: var(--n-disabled-dark-color);
  margin-top: calc(var(--n-small-margin) / 2);
}

figure .caption-overlay figcaption {
  position: absolute;
  bottom: 0;
}

figure.caption-overlay {
  position: relative;
}
figure.caption-overlay figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  width: 100%;
  padding: calc(var(--n-small-padding) / 2) var(--n-small-padding);
  color: white;
  bottom: calc(var(--n-small-padding) / 2);
  background: rgba(0, 0, 0, 0.5490196078);
}

figure.n-more-rounded.caption-overlay figcaption {
  border-radius: 0 0 calc(var(--n-border-radius) * 5) calc(var(--n-border-radius) * 5);
}

/* Accordion CSS */
.n-acc-item-head {
  padding: 0 var(--n-small-padding);
  overflow: auto;
  cursor: pointer;
  background-color: #eee;
  font-weight: bold;
}

.n-acc-item-body {
  padding: 10px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.n-acc-item.n-acc-stay-open .n-acc-item-body {
  height: auto;
}

/* Form Elements CSS */
.form-group {
  display: flex;
  flex-direction: column;
  max-width: 576px;
  width: 95%;
  margin: var(--n-small-margin) 0;
}

input {
  border: var(--n-border-width) solid var(--n-border-color);
  margin: calc(var(--n-small-margin) / 2) 0;
  font-size: 1.25rem;
  padding: calc(var(--n-small-padding) / 2);
}

input[type=checkbox],
input[type=radio] {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 calc(var(--n-small-margin) / 2);
}

input:disabled {
  opacity: 0.8;
  pointer-events: none;
}

input:disabled ~ label {
  color: var(--n-disabled-color);
}

.form-group .n-flex-apart input {
  margin: calc(var(--n-small-margin) / 2) 0;
}

.form-help {
  color: var(--n-disabled-dark-color);
  font-size: 80%;
}

/* Image CSS */
img.n-image-responsive {
  max-width: 100%;
}

/* Navigation CSS */
.n-navigation {
  display: flex;
  justify-content: space-between;
  padding: var(--n-small-padding);
  align-items: center;
  flex-wrap: wrap;
}

.nav-brand {
  font-size: 3rem;
}

.n-navigation.shrinker ol {
  display: flex;
}

.n-navigation.shrinker .n-navlink-group ol {
  display: none;
}

.n-navigation.shrinker .n-navlink-group ol {
  display: none;
}

.n-navigation.shrinker .menu-opener.visible {
  display: inline-block;
}

.n-navigation .menu-opener.open-menu ~ div.n-navlink-group ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 0 100%;
}

.n-navigation > * {
  width: -moz-fit-content;
  width: fit-content;
}

.n-navigation ol {
  font-size: 1.5rem;
  display: none;
  list-style: none;
  gap: 1rem;
  margin: calc(var(--n-small-margin) / 2) 0;
  padding-left: 0;
}

.n-navigation a {
  color: var(--n-primary-brand-color);
  text-decoration: none;
  transition: 0.1s all;
}

.n-navigation a:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.n-navlink-group {
  display: flex;
  flex: 1 0 100%;
}

.n-navigation .n-navigation.n-nav-pilled ol a {
  color: var(--n-primary-brand-color);
  background: white;
  padding: calc(var(--n-small-padding) / 2) var(--n-small-padding);
}

.n-navigation.n-nav-pilled ol a:hover {
  background: var(--n-primary-brand-color);
  font-weight: normal;
  color: white;
}

.menu-opener {
  font-size: 200%;
  color: var(--n-primary-brand-color);
}

/* Button CSS */
input[type=submit],
input[type=reset],
.n-btn {
  padding: calc(var(--n-small-padding) / 2) var(--n-small-padding);
  font-size: 1.25rem;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.n-large-btn {
  font-size: 1.5rem;
  padding: calc(var(--n-big-padding) / 2) var(--n-big-padding);
}

.n-small-btn {
  font-size: 1.5rem;
  padding: calc(var(--n-big-padding) / 2) var(--n-big-padding);
}

.n-disabled-btn {
  background: var(--n-disabled-color);
  cursor: initial;
}

.n-normal-btn {
  background: var(--n-normal-color);
}

.n-danger-btn {
  background: var(--n-danger-color);
}

.n-success-btn {
  background: var(--n-success-color);
}

.n-normal-btn:hover {
  background: var(--n-normal-dark-color);
}

.n-danger-btn:hover {
  background: var(--n-danger-dark-color);
}

.n-success-btn:hover {
  background: var(--n-success-dark-color);
}

.n-bordered-btn {
  border: calc(var(--n-border-width) * 3) solid black;
}

.n-bordered-btn.n-outline-btn {
  border: calc(var(--n-border-width) * 2) solid black;
}

.n-bordered-btn.n-disabled-btn {
  border-color: var(--n-disabled-dark-color);
}

.n-bordered-btn.n-normal-btn {
  border-color: var(--n-normal-dark-color);
}

.n-bordered-btn.n-danger-btn {
  border-color: var(--n-danger-dark-color);
}

.n-bordered-btn.n-success-btn {
  border-color: var(--n-success-dark-color);
}

.n-outline-btn {
  background: transparent;
}

.n-outline-btn.n-disabled-btn {
  color: var(--n-disabled-dark-color);
}

.n-outline-btn.n-normal-btn {
  color: var(--n-normal-dark-color);
}

.n-outline-btn.n-danger-btn {
  color: var(--n-danger-dark-color);
}

.n-outline-btn.n-success-btn {
  color: var(--n-success-dark-color);
}

.n-outline-btn.n-disabled-btn:hover {
  color: white;
  background: var(--n-disabled-dark-color);
}

.n-outline-btn.n-normal-btn:hover {
  color: white;
  background: var(--n-normal-dark-color);
}

.n-outline-btn.n-danger-btn:hover {
  color: white;
  background: var(--n-danger-dark-color);
}

.n-outline-btn.n-success-btn:hover {
  color: white;
  background: var(--n-success-dark-color);
}

/* Rounded CSS*/
.n-rounded {
  border-radius: var(--n-border-radius);
}

.n-rounded-x2 {
  border-radius: calc(var(--n-border-radius) * 2);
}

.n-rounded-x3 {
  border-radius: calc(var(--n-border-radius) * 3);
}

.n-rounded-x4 {
  border-radius: calc(var(--n-border-radius) * 4);
}

.n-rounded-x5 {
  border-radius: calc(var(--n-border-radius) * 5);
}

.n-circular {
  border-radius: 50%;
}

@media (min-width: 440px) and (max-width: 575px) {
  .n-oxsw-5 {
    width: 5%;
  }
  .n-oxsw-10 {
    width: 10%;
  }
  .n-oxsw-15 {
    width: 15%;
  }
  .n-oxsw-20 {
    width: 20%;
  }
  .n-oxsw-25 {
    width: 25%;
  }
  .n-oxsw-30 {
    width: 30%;
  }
  .n-oxsw-35 {
    width: 35%;
  }
  .n-oxsw-40 {
    width: 40%;
  }
  .n-oxsw-45 {
    width: 45%;
  }
  .n-oxsw-50 {
    width: 50%;
  }
  .n-oxsw-55 {
    width: 55%;
  }
  .n-oxsw-60 {
    width: 60%;
  }
  .n-oxsw-65 {
    width: 65%;
  }
  .n-oxsw-70 {
    width: 70%;
  }
  .n-oxsw-75 {
    width: 75%;
  }
  .n-oxsw-80 {
    width: 80%;
  }
  .n-oxsw-85 {
    width: 85%;
  }
  .n-oxsw-90 {
    width: 90%;
  }
  .n-oxsw-95 {
    width: 95%;
  }
  .n-oxsw-100 {
    width: 100%;
  }
}
.n-w-5 {
  width: 5%;
}

.n-w-10 {
  width: 10%;
}

.n-w-15 {
  width: 15%;
}

.n-w-20 {
  width: 20%;
}

.n-w-25 {
  width: 25%;
}

.n-w-30 {
  width: 30%;
}

.n-w-35 {
  width: 35%;
}

.n-w-40 {
  width: 40%;
}

.n-w-45 {
  width: 45%;
}

.n-w-50 {
  width: 50%;
}

.n-w-55 {
  width: 55%;
}

.n-w-60 {
  width: 60%;
}

.n-w-65 {
  width: 65%;
}

.n-w-70 {
  width: 70%;
}

.n-w-75 {
  width: 75%;
}

.n-w-80 {
  width: 80%;
}

.n-w-85 {
  width: 85%;
}

.n-w-90 {
  width: 90%;
}

.n-w-95 {
  width: 95%;
}

.n-w-100 {
  width: 100%;
}

@media (max-width: 575px) {
  .n-card-horizontal:not(.polaroid) {
    border: 1px solid var(--n-border-color);
  }
}
@media (min-width: 576px) {
  .n-flex.n-flex-eq-sw > * {
    flex: 1 1 0;
  }
  .n-flex-aw-1234 > *,
  .n-flex-aw-112 > *,
  .n-flex-aw-112a > *,
  .n-flex-aw-1234a > * {
    width: 100%;
  }
  .n-flex-aw-2 > *,
  .n-flex-aw-22334 > *,
  .n-flex-aw-22334a > * {
    width: 50%;
  }
  .n-sw-1-6 {
    width: 16.6666667%;
  }
  .n-sw-1-3 {
    width: 33.33333333%;
  }
  .n-sw-2-3 {
    width: 66.666666667%;
  }
  .n-sw-5 {
    width: 5%;
  }
  .n-sw-10 {
    width: 10%;
  }
  .n-sw-15 {
    width: 15%;
  }
  .n-sw-20 {
    width: 20%;
  }
  .n-sw-25 {
    width: 25%;
  }
  .n-sw-30 {
    width: 30%;
  }
  .n-sw-35 {
    width: 35%;
  }
  .n-sw-40 {
    width: 40%;
  }
  .n-sw-45 {
    width: 45%;
  }
  .n-sw-50 {
    width: 50%;
  }
  .n-sw-55 {
    width: 55%;
  }
  .n-sw-60 {
    width: 60%;
  }
  .n-sw-65 {
    width: 65%;
  }
  .n-sw-70 {
    width: 70%;
  }
  .n-sw-75 {
    width: 75%;
  }
  .n-sw-80 {
    width: 80%;
  }
  .n-sw-85 {
    width: 85%;
  }
  .n-sw-90 {
    width: 90%;
  }
  .n-sw-95 {
    width: 95%;
  }
  .n-sw-100 {
    width: 100%;
  }
  table.n-full-padding-sw td {
    padding: var(--n-small-padding);
  }
  /* Card CSS */
  .n-card-horizontal {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  div.n-flex > div.n-wrapper {
    padding: var(--n-small-padding);
  }
  .n-flex.n-flex-eq-mw > * {
    flex: 1 1 0;
  }
  .n-flex-aw-112 > *,
  .n-flex-aw-112a > * {
    width: 100%;
  }
  .n-flex-aw-1234 > *,
  .n-flex-aw-1234a > *,
  .n-flex-aw-22334 > *,
  .n-flex-aw-22334a > * {
    width: 50%;
  }
  .n-mw-1-6 {
    width: 16.6666667%;
  }
  .n-mw-1-3 {
    width: 33.33333333%;
  }
  .n-mw-2-3 {
    width: 66.666666667%;
  }
  .n-mw-5 {
    width: 5%;
  }
  .n-mw-10 {
    width: 10%;
  }
  .n-mw-15 {
    width: 15%;
  }
  .n-mw-20 {
    width: 20%;
  }
  .n-mw-25 {
    width: 25%;
  }
  .n-mw-30 {
    width: 30%;
  }
  .n-mw-35 {
    width: 35%;
  }
  .n-mw-40 {
    width: 40%;
  }
  .n-mw-45 {
    width: 45%;
  }
  .n-mw-50 {
    width: 50%;
  }
  .n-mw-55 {
    width: 55%;
  }
  .n-mw-60 {
    width: 60%;
  }
  .n-mw-65 {
    width: 65%;
  }
  .n-mw-70 {
    width: 70%;
  }
  .n-mw-75 {
    width: 75%;
  }
  .n-mw-80 {
    width: 80%;
  }
  .n-mw-85 {
    width: 85%;
  }
  .n-mw-90 {
    width: 90%;
  }
  .n-mw-95 {
    width: 95%;
  }
  .n-mw-100 {
    width: 100%;
  }
  .n-navigation .menu-opener {
    display: none;
  }
  .n-navlink-group ol {
    display: flex;
  }
  .n-navlink-group {
    flex: 0 0 auto;
  }
  .n-navigation .menu-opener.open-menu ~ div.n-navlink-group ol {
    display: flex;
    gap: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .n-omw-5 {
    width: 5%;
  }
  .n-omw-10 {
    width: 10%;
  }
  .n-omw-15 {
    width: 15%;
  }
  .n-omw-20 {
    width: 20%;
  }
  .n-omw-25 {
    width: 25%;
  }
  .n-omw-30 {
    width: 30%;
  }
  .n-omw-35 {
    width: 35%;
  }
  .n-omw-40 {
    width: 40%;
  }
  .n-omw-45 {
    width: 45%;
  }
  .n-omw-50 {
    width: 50%;
  }
  .n-omw-55 {
    width: 55%;
  }
  .n-omw-60 {
    width: 60%;
  }
  .n-omw-65 {
    width: 65%;
  }
  .n-omw-70 {
    width: 70%;
  }
  .n-omw-75 {
    width: 75%;
  }
  .n-omw-80 {
    width: 80%;
  }
  .n-omw-85 {
    width: 85%;
  }
  .n-omw-90 {
    width: 90%;
  }
  .n-omw-95 {
    width: 95%;
  }
  .n-omw-100 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .n-flex.n-flex-eq-lw > * {
    flex: 1 1 0;
  }
  .n-flex-aw-1234 > *,
  .n-flex-aw-1234a > *,
  .n-flex-aw-22334 > *,
  .n-flex-aw-22334a > * {
    width: 33.333333%;
  }
  .n-flex-aw-112 > *,
  .n-flex-aw-112a > * {
    width: 50%;
  }
  .n-lw-1-6 {
    width: 16.6666667%;
  }
  .n-lw-1-3 {
    width: 33.33333333%;
  }
  .n-lw-2-3 {
    width: 66.666666667%;
  }
  .n-lw-5 {
    width: 5%;
  }
  .n-lw-10 {
    width: 10%;
  }
  .n-lw-15 {
    width: 15%;
  }
  .n-lw-20 {
    width: 20%;
  }
  .n-lw-25 {
    width: 25%;
  }
  .n-lw-30 {
    width: 30%;
  }
  .n-lw-35 {
    width: 35%;
  }
  .n-lw-40 {
    width: 40%;
  }
  .n-lw-45 {
    width: 45%;
  }
  .n-lw-50 {
    width: 50%;
  }
  .n-lw-55 {
    width: 55%;
  }
  .n-lw-60 {
    width: 60%;
  }
  .n-lw-65 {
    width: 65%;
  }
  .n-lw-70 {
    width: 70%;
  }
  .n-lw-75 {
    width: 75%;
  }
  .n-lw-80 {
    width: 80%;
  }
  .n-lw-85 {
    width: 85%;
  }
  .n-lw-90 {
    width: 90%;
  }
  .n-lw-95 {
    width: 95%;
  }
  .n-lw-100 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .n-flex.n-flex-eq-xlw > * {
    flex: 1 1 0;
  }
  .n-flex-aw-1234 > *,
  .n-flex-aw-1234a > * {
    width: 25%;
  }
  .n-xlw-1-6 {
    width: 16.6666667%;
  }
  .n-xlw-1-3 {
    width: 33.3333333%;
  }
  .n-xlw-2-3 {
    width: 66.6666667%;
  }
  .n-flex-aw-22334 > *,
  .n-flex-aw-22334a > * {
    width: 33.33333%;
  }
  .n-xlw-5 {
    width: 5%;
  }
  .n-xlw-10 {
    width: 10%;
  }
  .n-xlw-15 {
    width: 15%;
  }
  .n-xlw-20 {
    width: 20%;
  }
  .n-xlw-25 {
    width: 25%;
  }
  .n-xlw-30 {
    width: 30%;
  }
  .n-xlw-35 {
    width: 35%;
  }
  .n-xlw-40 {
    width: 40%;
  }
  .n-xlw-45 {
    width: 45%;
  }
  .n-xlw-50 {
    width: 50%;
  }
  .n-xlw-55 {
    width: 55%;
  }
  .n-xlw-60 {
    width: 60%;
  }
  .n-xlw-65 {
    width: 65%;
  }
  .n-xlw-70 {
    width: 70%;
  }
  .n-xlw-75 {
    width: 75%;
  }
  .n-xlw-80 {
    width: 80%;
  }
  .n-xlw-85 {
    width: 85%;
  }
  .n-xlw-90 {
    width: 90%;
  }
  .n-xlw-95 {
    width: 95%;
  }
  .n-xlw-100 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .n-flex.n-flex-eq-xxlw > * {
    flex: 1 1 0;
  }
  .n-flex-aw-22334 > *,
  .n-flex-aw-22334a > * {
    width: 25%;
  }
  .n-xxlw-1-6 {
    width: 16.6666667%;
  }
  .n-xxlw-1-3 {
    width: 33.33333333%;
  }
  .n-xxlw-2-3 {
    width: 66.666666667%;
  }
  .n-xxlw-5 {
    width: 5%;
  }
  .n-xxlw-10 {
    width: 10%;
  }
  .n-xxlw-15 {
    width: 15%;
  }
  .n-xxlw-20 {
    width: 20%;
  }
  .n-xxlw-25 {
    width: 25%;
  }
  .n-xxlw-30 {
    width: 30%;
  }
  .n-xxlw-35 {
    width: 35%;
  }
  .n-xxlw-40 {
    width: 40%;
  }
  .n-xxlw-45 {
    width: 45%;
  }
  .n-xxlw-50 {
    width: 50%;
  }
  .n-xxlw-55 {
    width: 55%;
  }
  .n-xxlw-60 {
    width: 60%;
  }
  .n-xxlw-65 {
    width: 65%;
  }
  .n-xxlw-70 {
    width: 70%;
  }
  .n-xxlw-75 {
    width: 75%;
  }
  .n-xxlw-80 {
    width: 80%;
  }
  .n-xxlw-85 {
    width: 85%;
  }
  .n-xxlw-90 {
    width: 90%;
  }
  .n-xxlw-95 {
    width: 95%;
  }
  .n-xxlw-100 {
    width: 100%;
  }
}
.n-lw-auto {
  flex: auto;
}

.n-flex .w-25 {
  width: 25%;
}

h1 {
  width: -moz-max-content;
  width: max-content;
}

img {
  overflow: hidden;
}/*# sourceMappingURL=layout.css.map */